*   {
    box-sizing: border-box;
    margin: 0;
}

body    {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* status bar */

.status-bar {
    background-color: rgba(202, 207, 216, 0.7);
    width: 100%;
    height: 22px;
}

.status-bar-contents    {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 15px;
}

.left-contents  {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#logo   {
    width: 14px;
    height: 14px;
}

.left-contents h1   {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}

.right-contents    {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#wifi   {
    width: 17px;
    height: auto;
}

#battery    {
    width: 23px;
    height: auto;
    margin-left: 10px;
}

#user-ID, #clock, #month   {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

#date   {
    font-size: 14px;
    font-weight: 400;
}

/* todo area */

.todo-area  {
    margin-top: 15px;
    margin-left: 15px;
    padding: 15px;
    background-color: rgb(238, 238, 238);
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
}

#todo-form  {
    display: flex;
    justify-content: center;
}

#input-todo {
    border: none;
    border-radius: 40px;
    background-color: #FFF;
    width: 200px;
    height: 26px;
    padding-left: 15px;
}


#todo-list  {
    list-style: none;
    padding: 0;
    color:rgb(99, 99, 99);
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}

#todo-list li   {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#todo-list button   {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.done   {
    text-decoration: line-through;
}

/* side bar */

.side-bar   {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 22px;
    right: 0px;
    width: 500px;
    height: auto;
}

.small-content  {
    display: flex;
    flex-direction: row;
}

#weather, #d-day  {
    background-color: #FFF;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin: 15px;
    padding-top: 15px;
    padding-left: 20px;
}

/* side bar - weahter */

#weather    {
    transition: transform 300ms ease-in-out;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2);
}

#weather:hover  {
    transform: translateY(-3px);
}

#weather span   {
    display: block;
}

#weather span:first-child   {
    font-size: 23px;
    font-weight: 300;
}


#weather span:nth-child(2)    {
    font-size: 35px;
    font-weight: 300;
    padding-top: 20px;
}

#weather span:last-child    {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 300;
}

#weather span:nth-child(2)::after {
    content: '°';
}

/* side bar d-day */

#d-day  {
    transition: transform 300ms ease-in-out;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2);
}

#d-day:hover    {
    transform: translateY(-3px);
}

#d-day h2   {
    font-size: 32px;
    font-weight: 300;
}

#d-day span {
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin-top: 25px;
    margin-right: 20px;
    text-align: right;
}

/* side bar - quote */

#quote {
    background-color: #FFF;
    border-radius: 30px;
    width: 430px;
    height: 200px;
    margin: 15px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 300ms ease-in-out;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2);
}

#quote span:last-child   {
    text-align: right;
    margin-right: 10px;
}

#quote:hover    {
    transform: translateY(-3px);
}

/* SMART PHONE */

@media screen and (max-width: 414px) {
    body    {
        width: 100%;
        height: 100%;
        background-position: center center;
    }

    .contents   {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 10px;
        margin-bottom: 22px;
    }

    .status-bar {
        position: block;
    }

    /* todo */
    .todo-area  {
        margin: 0;
        width: 300px;
        height: 400px;
    }

    /* side bar  */

    .side-bar   {
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 15px 0 calc(constant(safe-area-inset-bottom) + 15px);
        padding: 15px 0 calc(env(safe-area-inset-bottom) + 15px);
        margin-bottom: 22px;
    }

    /* side bar - weahter, d-day */

    .small-content  {
        display: flex;
        flex-direction: row;
    }
    #weather, #d-day    {
        width: 150px;
        height: 150px;
    }

    #weather span:first-child   {
        font-size: 20px;
    }

    #weather span:nth-child(2)  {
        font-size: 23px;
        padding-top: 20px;
    }

    #weather span:last-child    {
        font-size: 17px;
        padding-top: 20px;
    }

    #d-day h2 {
        font-size: 22px;
    }

    #d-day span {
        font-size: 17px;
        margin-top: 20px;
        margin-right: 15px;
        text-align: right;
    }

    /* side bar - quote */
    #quote  {
        font-size: 15px;
        width: 330px;
        height: 100px;
    }
    
    #quote span:last-child  {
        text-align: right;
        margin-right: 10px;
    }
}

/* TABLET */
@media screen and (min-width: 415px) and (max-width: 768px) {
    body    {
        width: 100%;
        height: 100%;
        background-position: center center;
    }

    .contents   {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 10px;
        margin-bottom: 22px;
    }

    .side-bar   {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .small-content  {
        justify-content: center;
    }

    #quote  {
        width: 440px;
    }
}